include ./layouts/header

block content
  h1.register Create Order

  .form-container
    form(action="/waiter/create-order", method="post")
      .form-group
        label(for="menuItemId") Select Menu Item:
        select(name="menuItemId", id="menuItemId")
          each item in menuItems
            option(value=item.id)= `${item.item} - $${item.price}`
      
      .form-group2
        button(type="submit") Add Order

include ./layouts/footer